{% extends "templates/layout.html" %}
{% block page_content %} {{ _("") }}

<!-- Content with Image Tiles -->
<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="max-w-4xl">
      <p class="text-base/7 font-semibold text-indigo-600">About us</p>
      <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Driving Purpose with
        Passion</h1>
      <p class="mt-6 text-xl/8 text-balance text-gray-700">Yletlabs stands as a reliable partner for businesses looking
        to leverage cutting-edge software solutions to streamline their operations and achieve sustainable growth. With
        a deep commitment to innovation, we focus on delivering tailor-made technology solutions that address the unique
        needs of every client.</p>
    </div>
    <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
      <div class="lg:pr-8">
        <h2 class="text-2xl font-semibold tracking-tight text-pretty text-gray-900">Our mission</h2>
        <p class="mt-6 text-base/7 text-gray-600">We are committed to placing our clients at the center of everything we
          do, delivering innovative, high-quality solutions that exceed expectations. Guided by integrity, transparency,
          and a focus on sustainability, we foster trust and long-term partnerships. Our collaborative approach
          encourages creativity and continuous growth, enabling us to develop scalable solutions that drive success and
          make a positive impact. Through ethical practices and cutting-edge technology, we are on a mission to empower
          businesses and build a brighter future. Our mission is to empower businesses with the tools they need to
          succeed. We believe in building long-term partnerships with our clients, offering personalized solutions that
          meet their specific needs</p>
        <p class="mt-8 text-base/7 text-gray-600">We pride ourselves on our customer-centric approach. We work closely
          with our clients to understand their challenges and deliver solutions that drive real results. Our commitment
          to excellence and innovation sets us apart as a trusted partner in the software industry.</p>
      </div>
      <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
        <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8">
          <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
            <img alt=""
              src="https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?&auto=format&fit=crop&crop=center&w=560&h=560&q=90"
              class="block size-full object-cover">
          </div>
          <div
            class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
            <img alt=""
              src="https://images.unsplash.com/photo-1557804506-669a67965ba0?&auto=format&fit=crop&crop=left&w=560&h=560&q=90"
              class="block size-full object-cover">
          </div>
          <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10">
            <img alt=""
              src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?&auto=format&fit=crop&crop=left&w=560&h=560&q=90"
              class="block size-full object-cover">
          </div>
          <div
            class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40">
            <img alt=""
              src="https://images.unsplash.com/photo-1598257006458-087169a1f08d?&auto=format&fit=crop&crop=center&w=560&h=560&q=90"
              class="block size-full object-cover">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Section with 6 features -->
<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Company Values</h2>
      <p class="mt-6 text-lg/8 text-gray-600">Our core values shape everything we do. They guide our actions,
        decision-making, and interactions with clients and employees alike.</p>
    </div>
    <dl
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base/7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <dt class="font-semibold text-gray-900">Innovation</dt>
        <dd class="mt-1 text-gray-600">We continuously seek out new ideas and technologies to drive progress and deliver
          cutting-edge solutions that keep our clients ahead of the curve.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Customer-Centricity</dt>
        <dd class="mt-1 text-gray-600">Our clients are at the heart of everything we do. We strive to exceed their
          expectations and build long-lasting relationships through exceptional service.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Integrity</dt>
        <dd class="mt-1 text-gray-600">We conduct our business with honesty, transparency, and ethical practices,
          ensuring trust and reliability in all our interactions.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Excellence</dt>
        <dd class="mt-1 text-gray-600">We are committed to delivering the highest quality in our products and services,
          ensuring exceptional results that drive business success.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Collaboration</dt>
        <dd class="mt-1 text-gray-600">We believe in the power of teamwork and foster a collaborative environment where
          shared goals are achieved through collective effort.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Adaptability</dt>
        <dd class="mt-1 text-gray-600">We embrace change and are always ready to adapt to new challenges and
          opportunities, ensuring our solutions remain relevant and effective.</dd>
      </div>
    </dl>
  </div>
</div>

<!-- CTA centered on dark -->
<div class="relative isolate overflow-hidden bg-gray-900">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">Boost your productivity.
        Start using our app today.</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-gray-300">Incididunt sint fugiat pariatur cupidatat
        consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get
          started</a>
        <a href="#" class="text-sm/6 font-semibold text-white">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1024 1024"
    class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
    aria-hidden="true">
    <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
    <defs>
      <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
        <stop stop-color="#7775D6" />
        <stop offset="1" stop-color="#E935C1" />
      </radialGradient>
    </defs>
  </svg>
</div>

{% endblock %}